<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignment"
        tools:targetApi="31">
        <activity
            android:name=".DonationModule.DonationReport"
            android:label="Donation Report"
            android:parentActivityName=".DonationModule.DonationPage"
            android:exported="false" />
        <activity
            android:name=".DonationModule.DonationRecordDetails"
            android:exported="false"
            android:label="Record Details"
            android:parentActivityName=".DonationModule.DonationRecord" />
        <activity
            android:name=".DonationModule.DonationDraftRecord"
            android:exported="false"
            android:label="Donation Draft"
            android:parentActivityName=".DonationModule.DonationRecord" />
        <activity
            android:name=".DonationModule.DonationRecord"
            android:exported="false"
            android:label="Donation Record"
            android:parentActivityName=".DonationModule.DonationPage"
            android:theme="@style/Theme.Assignment" />
        <activity
            android:name=".DonationModule.DonationCompleted"
            android:exported="false"
            android:parentActivityName=".DonationModule.DonationPage" />
        <activity
            android:name=".DonationModule.DonationPayment"
            android:exported="false"
            android:label="Payment"
            android:parentActivityName=".DonationModule.DonationForm" />
        <activity
            android:name=".DonationModule.DonationForm"
            android:exported="false"
            android:label="Donation Form"
            android:parentActivityName=".DonationModule.DonationPage" />
        <activity
            android:name=".DonationModule.DonationPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>